In [9]:
import pandas as pd

data = pd.read_csv("../data/iris.csv", index_col=0)

In [10]:
data.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [11]:
data[list(data.columns)[:-1]]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1              5.1           3.5            1.4           0.2
2              4.9           3.0            1.4           0.2
3              4.7           3.2            1.3           0.2
4              4.6           3.1            1.5           0.2
5              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
146            6.7           3.0            5.2           2.3
147            6.3           2.5            5.0           1.9
148            6.5           3.0            5.2           2.0
149            6.2           3.4            5.4           2.3
150            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [12]:
data.sort_values(by='SepalLengthCm', ascending=False)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
132            7.9           3.8            6.4           2.0  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
123            7.7           2.8            6.7           2.0  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
119            7.7           2.6            6.9           2.3  Iris-virginica
..             ...           ...            ...           ...             ...
42             4.5           2.3            1.3           0.3     Iris-setosa
43             4.4           3.2            1.3           0.2     Iris-setosa
39             4.4           3.0            1.3           0.2     Iris-setosa
9              4.4           2.9            1.4           0.2     Iris-setosa
14             4.3           3.0            1.1           0.1     Iris-setosa

[150 rows x 5 columns]

In [13]:
data.fi

AttributeError: 'DataFrame' object has no attribute 'fi'

In [14]:
data.drop(columns = 'SepalWidthCm')

     SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1            1.4           0.2     Iris-setosa
2              4.9            1.4           0.2     Iris-setosa
3              4.7            1.3           0.2     Iris-setosa
4              4.6            1.5           0.2     Iris-setosa
5              5.0            1.4           0.2     Iris-setosa
..             ...            ...           ...             ...
146            6.7            5.2           2.3  Iris-virginica
147            6.3            5.0           1.9  Iris-virginica
148            6.5            5.2           2.0  Iris-virginica
149            6.2            5.4           2.3  Iris-virginica
150            5.9            5.1           1.8  Iris-virginica

[150 rows x 4 columns]

In [15]:
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [27]:
import pandas as pd


class Domino:
    def __init__(self, data):
        self.attr = list(data.columns)[:-1]
        self.data = data[self.attr]
        self.m = len(self.attr)
        self.n = self.data.shape[0]
        
        self.delta_dist = None

    def dist(self, xi, yi):
        return abs(self.data.iloc[xi] - self.data.iloc[yi])

    def get_distance_relation(self):
        delta_dist = []
        for i in range(self.n):
            for j in range(i + 1, self.n):
                delta_dist.append(self.dist(i, j))
        self.delta_dist = pd.DataFrame(delta_dist, columns=self.attr)
        return self.delta_dist


    def ordered_delta(self, attr):
        return self.delta_dist.sort_values(by=attr, ascending=True)
    def test_(self,attr):
        return self.delta_dist.iloc[1][attr]

In [28]:
model = Domino(data = data)

In [29]:
model.get_distance_relation()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0                0.2           0.5            0.0           0.0
1                0.4           0.3            0.1           0.0
2                0.5           0.4            0.1           0.0
3                0.1           0.1            0.0           0.0
4                0.3           0.4            0.3           0.2
...              ...           ...            ...           ...
11170            0.1           0.9            0.4           0.4
11171            0.4           0.5            0.1           0.1
11172            0.3           0.4            0.2           0.3
11173            0.6           0.0            0.1           0.2
11174            0.3           0.4            0.3           0.5

[11175 rows x 4 columns]

In [30]:
model.ordered_delta('SepalLengthCm')

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
9196             0.0           0.2            1.0           0.6
8613             0.0           0.3            0.7           0.8
10136            0.0           0.4            0.6           0.1
3425             0.0           0.4            0.0           0.2
6409             0.0           0.1            1.0           0.3
...              ...           ...            ...           ...
5378             3.4           1.5            5.1           1.7
5051             3.5           0.8            5.1           1.8
5485             3.5           0.6            5.1           1.8
1286             3.5           0.9            5.0           1.8
1976             3.6           0.8            5.3           1.9

[11175 rows x 4 columns]

In [31]:
model.test_('SepalLengthCm')

0.39999999999999947