In [2]:
import pandas as pd

data = pd.read_csv("../data/iris.csv", index_col=0)

In [3]:
data.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [4]:
data[list(data.columns)[:-1]]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1              5.1           3.5            1.4           0.2
2              4.9           3.0            1.4           0.2
3              4.7           3.2            1.3           0.2
4              4.6           3.1            1.5           0.2
5              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
146            6.7           3.0            5.2           2.3
147            6.3           2.5            5.0           1.9
148            6.5           3.0            5.2           2.0
149            6.2           3.4            5.4           2.3
150            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [16]:
data.sort_values(by='SepalLengthCm', ascending=False)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
132            7.9           3.8            6.4           2.0  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
123            7.7           2.8            6.7           2.0  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
119            7.7           2.6            6.9           2.3  Iris-virginica
..             ...           ...            ...           ...             ...
42             4.5           2.3            1.3           0.3     Iris-setosa
43             4.4           3.2            1.3           0.2     Iris-setosa
39             4.4           3.0            1.3           0.2     Iris-setosa
9              4.4           2.9            1.4           0.2     Iris-setosa
14             4.3           3.0            1.1           0.1     Iris-setosa

[150 rows x 5 columns]

In [ ]:
data.fi

In [14]:
data.drop(columns = 'SepalWidthCm')

     SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1            1.4           0.2     Iris-setosa
2              4.9            1.4           0.2     Iris-setosa
3              4.7            1.3           0.2     Iris-setosa
4              4.6            1.5           0.2     Iris-setosa
5              5.0            1.4           0.2     Iris-setosa
..             ...            ...           ...             ...
146            6.7            5.2           2.3  Iris-virginica
147            6.3            5.0           1.9  Iris-virginica
148            6.5            5.2           2.0  Iris-virginica
149            6.2            5.4           2.3  Iris-virginica
150            5.9            5.1           1.8  Iris-virginica

[150 rows x 4 columns]

In [10]:
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [56]:
class SCAMDD():
    def __init__(self, data, eps = 0.6):
        self.r_data = list(data.columns)[:-1]
        self.n = len(data)
        self.data = data
        self.eps = eps
        self.delta = eps

    def free_max(self):
        self.delta_nclusters = []
        for attr in self.r_data:
            # find all maximal δ-nClusters in A
            ra = self.data[attr].sort_values()
            for p1 in range(self.n):
                for p2 in range(p1 + 1, self.n):
                    if self.dist_metric(ra.iloc[p1], ra.iloc[p2]) <= self.delta:
                        if p1 == 0 or p2 == self.n - 1 \
                            or self.dist_metric(ra.iloc[p1 - 1], ra.iloc[p2]) <= self.delta \
                            or self.dist_metric(ra.iloc[p1], ra.iloc[p2 + 1]) <= self.delta:
                            continue
                        self.delta_nclusters.append((ra.index[p1], ra.index[p2]))
        # create database D of attribute-lists

    def dist_metric(self, x1, x2):
        return (x1 - x2) ** 2


    def form_cand_LHSs(self):
        pass

    def find_RHSs(self):
        pass

In [5]:
import pandas as pd


class Domino:
    def __init__(self, data):
        self.attr = list(data.columns)[:-1]
        self.data = data[self.attr]
        self.m = len(self.attr)
        self.n = self.data.shape[0]
        
        self.delta_dist = None

    def dist(self, xi, yi):
        return self.data.iloc[xi] - self.data.iloc[yi];

    def get_distance_relation(self):
        delta_dist = []
        for i in range(self.n):
            for j in range(i + 1, self.n):
                delta_dist.append(self.dist(i, j))
        self.delta_dist = pd.DataFrame(delta_dist, columns=self.attr)
        return self.delta_dist

In [6]:
model = Domino(data = data)

In [7]:
model.get_distance_relation()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0                0.2           0.5            0.0           0.0
1                0.4           0.3            0.1           0.0
2                0.5           0.4           -0.1           0.0
3                0.1          -0.1            0.0           0.0
4               -0.3          -0.4           -0.3          -0.2
...              ...           ...            ...           ...
11170            0.1          -0.9           -0.4          -0.4
11171            0.4          -0.5           -0.1           0.1
11172            0.3          -0.4           -0.2          -0.3
11173            0.6           0.0            0.1           0.2
11174            0.3           0.4            0.3           0.5

[11175 rows x 4 columns]